@use '../../../shared/styles/settings/settings' as *;
@use '@/shared/styles/mixins/grid' as *;
@use '../../../shared/styles/abstracts/input-mixins' as *;

.product-list {
  @include grid-adaptive($size: toRem(310));
  @include adaptiveValue('gap', 20, 10);

  &__item {
    height: 100%;
  }

  &__btn-add {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0;
    visibility: hidden;
    translate: 0 toRem(10);
    margin-inline: auto;
    width: max-content;
    padding-block: toRem(8);
    @include adaptiveValue('padding-inline', 30, 15);
  }

  &__swiper {

    .swiper-wrapper {
      @include adaptiveValue('margin-bottom', 50, 20);
    }
  }
}

.swiper-pagination {
  line-height: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: toRem(20);

  &-bullet {
    width: toRem(14);
    height: toRem(14);
    background-color: var(--color-text-muted);
    margin: 0;
    cursor: pointer;

    &-active {
      background-color: var(--color-text-secondary);
    }
  }
}