@use '@/shared/styles/settings/settings' as *;
@use '@/shared/styles/mixins/grid' as *;
@use '@/shared/styles/abstracts/input-mixins' as *;

.header-page {
  @include adaptiveValue('padding-block', 77, 30);
  background-color: var(--color-surface);

  &__title {
    @include adaptiveValue('font-size', 83, 40);
    text-transform: uppercase;
    letter-spacing: 1.66px;
    font-weight: 300;
    font-family: var(--font-secondary);
    text-align: center;
  }
}