@use '../../../shared/styles/settings/settings' as *;
@use '@/shared/styles/mixins/grid' as *;
@use '../../../shared/styles/abstracts/input-mixins' as *;

.banner {
  background-color: var(--color-surface);

  &__container {
    display: flex;
    align-items: center;
    @include adaptiveValue('gap', 30, 10);

    @media (max-width: toEm(655)) {
      flex-wrap: wrap;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 0 1 50%;

    @media (max-width: toEm(655)) {
      flex-grow: 1;
    }
  }

  &__title {
    @include adaptiveValue('font-size', 60, 30);
    font-family: var(--font-secondary);
    text-transform: uppercase;
    letter-spacing: 1.66px;
    font-weight: 300;
    line-height: 1.14;
    @include adaptiveValue('margin-bottom', 45, 20);
  }

  &__label {
    position: relative;
    @include adaptiveValue('font-size', 30, 20);
    text-transform: uppercase;
    font-weight: 300;
    @include adaptiveValue('margin-bottom', 28, 16);
  }

  &__image {
    flex: 0 1 50%;
    aspect-ratio: 780 / 654;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @media (max-width: toEm(655)) {
      flex-grow: 1;
    }
  }

  &__btn {
    padding-block: toRem(16);
    padding-inline: toRem(50);
  }
}