@use '@/shared/styles/settings/settings' as *;
@use '@/shared/styles/mixins/grid' as *;
@use '@/shared/styles/abstracts/input-mixins' as *;

.shop-filter-header {
  margin-bottom: toRem(20);

  &__result {
    display: inline-flex;
    align-items: center;
    gap: toRem(3);
    color: var(--color-button-hover);
    @include adaptiveValue('font-size', 16, 14);
    letter-spacing: toRem(0.48);
    line-height: 1.48;
  }
}