@use '@/shared/styles/settings/settings' as *;
@use '@/shared/styles/mixins/grid' as *;
@use '@/shared/styles/abstracts/input-mixins' as *;

.filter-section {

  &__title {
    @include adaptiveValue('font-size', 20, 18);
    text-decoration: underline;
    text-transform: uppercase;
    letter-spacing: toRem(1.2);
    font-family: var(--font-secondary);
    margin-bottom: toRem(10);
  }
}