@use '@/shared/styles/settings/settings' as *;
@use '@/shared/styles/mixins/grid' as *;
@use '@/shared/styles/abstracts/input-mixins' as *;

.breadcrumbs {
  @include adaptiveValue('padding-block', 77, 30);
  background-color: var(--color-surface);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: toRem(10);

  &__title {
    @include adaptiveValue('font-size', 83, 40);
    text-transform: uppercase;
    letter-spacing: 1.66px;
    font-weight: 300;
    font-family: var(--font-secondary);
    text-align: center;
  }

  &__nav {}

  &__link {
    transition: color 0.3s;

    @include hover {
      color: var(--color-accent);
    }
  }

  &__list {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;
    gap: toRem(10)
  }

  &__item {
    @include adaptiveValue('font-size', 16, 14);
    letter-spacing: 0.48px;
    line-height: 1.38;
  }

  &__active {
    color: var(--color-accent);
    margin-left: toRem(10);
  }
}