@use '@/shared/styles/settings/settings' as *;
@use '@/shared/styles/mixins/grid' as *;
@use '@/shared/styles/abstracts/input-mixins' as *;

.contact-info {

  &__list {
    display: flex;
    align-items: flex-start;
    @include adaptiveValue('gap', 20, 10);
    flex-wrap: wrap;
  }

  &__item {
    flex-grow: 1;
  }

  @media (max-width: toEm(800)) {
    width: 100%;
  }

}