@use '@/shared/styles/settings/settings' as *;
@use '@/shared/styles/abstracts/input-mixins' as *;
@use '@/shared/styles/themes/lightTheme' as *;

.footer-brand {
  max-width: toRem(340);

  &__logo {
    margin-bottom: toRem(10);
  }

  &__text {
    color: var(--color-button-hover);
    @include adaptiveValue('margin-bottom', 20, 10);
  }

  @media (max-width: toEm(990)) {
    max-width: 100%;
  }
}