@use '@/shared/styles/settings/settings' as *;
@use '@/shared/styles/abstracts/input-mixins' as *;
@use '@/shared/styles/themes/lightTheme' as *;

.footer-links {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  @include adaptiveValue('gap', 30, 10);

  &__item {}

  &__link {
    color: var(--color-icon);
    transition: color 0.3s;

    @include hover {
      color: var(--color-text-muted);
    }
  }

  &__icon {}
}