@use '@/shared/styles/settings/settings' as *;
@use '@/shared/styles/abstracts/input-mixins' as *;
@use '@/shared/styles/themes/lightTheme' as *;

.footer {

  @include adaptiveValue('padding-top', 50, 20);

  &__container {}

  &__body {
    display: flex;
    align-items: center;
    @include adaptiveValue('gap', 140, 30);
    @include adaptiveValue('padding-bottom', 80, 30);


    @media (max-width: toEm(990)) {
      flex-direction: column;
      @include adaptiveValue('gap', 30, 15);
    }
  }

  &__brand {}

  &__menu {
    flex-grow: 1;
  }
}