@font-face {
  font-family: 'iconfont';
  src:
    url('@/assets/fonts/icomoon.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class*="--icon-"]::before {
  font-family: 'iconfont';
  line-height: 1 !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


[class*="--icon-admin-icon"]::before {
  content: "\e901";
}

[class*="--icon-arcticons-brand"]::before {
  content: "\e909";
}

[class*="--icon-delivery-icon"]::before {
  content: "\e90c";
}

[class*="--icon-fb1"]::before {
  content: "\e911";
}

[class*="--icon-instagramm"]::before {
  content: "\e913";
}

[class*="--icon-label-dhl"]::before {
  content: "\e917";
}

[class*="--icon-linkdin"]::before {
  content: "\e919";
}

[class*="--icon-master-card"]::before {
  content: "\e91b";
}

[class*="--icon-pay-pal"]::before {
  content: "\e91d";
}

[class*="--icon-quotes-icon"]::before {
  content: "\e91e";
}

[class*="--icon-search-icon"]::before {
  content: "\e91f";
}

[class*="--icon-star-icon"]::before {
  content: "\e925";
}

[class*="--icon-twitter"]::before {
  content: "\e926";
}

[class*="--icon-utub"]::before {
  content: "\e927";
}

[class*="--icon-visa"]::before {
  content: "\e928";
}

[class*="--icon-customer-feedback"]::before {
  content: "\e90e";
}

[class*="--icon-custom-support"]::before {
  content: "\e910";
}

[class*="--icon-settings"]::before {
  content: "\e93a";
}

[class*="--icon-location1"]::before {
  content: "\e90b";
}

[class*="--icon-user"]::before {
  content: "\e914";
}

[class*="--icon-search"]::before {
  content: "\e921";
}

[class*="--icon-i-chevron"]::before {
  content: "\e904";
}

[class*="--icon-fb"]::before {
  content: "\e90d";
}

[class*="--icon-star-empty"]::before {
  content: "\e92e";
}

[class*="--icon-ion-cart"]::before {
  content: "\e916";
}

[class*="--icon-guarantee-icon"]::before {
  content: "\e912";
}

[class*="--icon-offers-icon"]::before {
  content: "\e91c";
}

[class*="--icon-security-icon"]::before {
  content: "\e924";
}

[class*="--icon-i-hours"]::before {
  content: "\e90a";
}

[class*="--icon-discord"]::before {
  content: "\e923";
}

[class*="--icon-plus"]::before {
  content: "\e92d";
}

[class*="--icon-wup"]::before {
  content: "\e92a";
}

[class*="--icon-check"]::before {
  content: "\e906";
}

[class*="--icon-home"]::before {
  content: "\e905";
}

[class*="--icon-telegram"]::before {
  content: "\e92c";
}

[class*="--icon-like"]::before {
  content: "\e908";
}