@use '@/shared/styles/settings/settings' as *;
@use '@/shared/styles/mixins/grid' as *;
@use '@/shared/styles/abstracts/input-mixins' as *;

.btn-add-to-cart {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  gap: toRem(8);
  background-color: var(--color-text-primary);
  @include adaptiveValue('padding-inline', 30, 15);
  @include adaptiveValue('font-size', 14, 12);
  text-transform: uppercase;
  letter-spacing: 1.4px;
  font-weight: 500;
  color: var(--color-primary);
  cursor: pointer;
  transition: background-color 0.3s;
  will-change: opacity, translate, background-color;
  text-align: center;
  justify-content: center;

  transition:
    opacity 0.3s,
    visibility 0.3s,
    translate 0.3s,
    background-color 0.3s;

  &__icon {
    color: inherit;
  }

  @include hover {
    background-color: var(--color-button-hover);
  }
}